 *{
     margin: 0;
     padding: 0;
     box-sizing:border-box; /*this gets rid of the issue of mixed padding values and width. Ex the header has 35px right and left which equals 70 but the footer width is at 100% making it flow off the page*/
 }

 body {
     /*setting the color of the font for the entire page to that hexadecimal number */
     color: #39a6b2;
     font-family: Helvetica, Arial, sans-serif;
    }
 
 /* Applies 20px to every side (top, right, bottom, left) */
 header {
    padding: 20px 35px;
    background-color: #39a6b2;
    }
 
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    }

header a {
    text-decoration: none;
    color: #fce138;
}

header nav{
    float:right;
    margin: 7px 0;
}

header nav ul li{
    display: inline;
}

header nav ul li a{
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    color:#fce138;
    margin: 0;
    display: inline;
}

footer{
    background-color: #fce138;
    width: 100%;
    padding: 40px 35px;
}

footer h2{
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div{ 
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a{ 
    color: #024e76;
}

section {
    padding: 60px;
}

/*Hero style css starts*/
.hero {
    background-image: url("../images/hero-bg.jpg");
    height: 600px;
    background-size:cover;
    background-position: center;
}
/*Hero style css ends*/
/*Hero form style starts*/
.hero-form{
    background-color: #fce138;
    padding: 20ps;
    width: 500px;
    color: #024e76;
}
 /*that line for border is the shorthand for border-style, border-width, and border-color*/
.hero-form{
    border-style: solid;
    border-width: 3px;
    border-color: #023e76;
    background-color: #fce138;
    padding:20px;
    width: 500px;
    color: #024e76;
    position: absolute;
    bottom:120px;
    right: 140px;
}
/* ... is just a placeholde that indicates that there's other content in the code that shouldn't be overwritten.*/

.hero{
    background-image: url("../images/hero-bg.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position:relative;
}

.hero-form-heading{
    font-size: 24px;
    margin: 0;
}

/*This makes the paragraph element in the hero form more pleasent to look read*/
.hero-form p{
    margin: 5px 0 15px 0;
}

.form-input{
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color:#024e76;
    width: 100%;
    margin-bottom: 15px;
}

.hero-form label{
    margin: 0 5px;
}

.hero-form button{
    background-color: #024e76;
    color: #fce138;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}
/*Hero style ends*/
/* This below sections help prevent duplicities in your code. ex .steps h2 and .intro h2*/
.section-title{
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;/*this puts an underline (bottom border) under the header*/
    display: inline-block;
}

.primary-border{
    border-color: #fce138;
}

.secondary-border{
    border-color: #39a6b2;
}

/* text-align puts the text into the centre and not on the right or left (similar to word)*/
.intro{
    text-align: center;
}
/* This is replaces with section-title as it is repeated here and in .steps h2. no need to repeat code
.intro h2{
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid; 
    border-color: #fce138;
    display: inline-block;
}*/


.intro p{
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    margin: 0 auto; /*you can use display:inline-block if you wanted but margin:0 centers a block element with a width of less than 100%*/ 
    /* Also auto caculates the margins for us and centres the block element accordingly*/
}

.steps{
    text-align: center;
    background: #fce138;
}

/*Also replaced by section-title
.steps h2{
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    border-color: #39a6b2;
    display: inline-block;
}*/

.steps div{
    margin-bottom: 80px;
}

.steps img{
    width: 15%;
}

.steps h3{
    color: #024e76;
    font-size: 46px;
    margin-top: 10px;
}

.steps p{
    color: #39a6b2;
    font-size: 23px;
}

.steps span{
    font-size: 38px;
}